@import "./../../../common/styles/mixins";

.userBlock {
  margin-top: 40px;
  margin-right: 85px;

  @include flex(column, flex-start, flex-start);
  @media screen and (max-width: 1070px) {
    margin-right: 0;
  }

  .userPhoto {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    @media screen and (max-width: 400px) {
      width: 250px;
      height: 250px;
    }
  }

  .name {
    margin-top: 28px;
    margin-bottom: 12px;

    @include text(normal,600,26px,130%);
    color: #000000;
  }

  .userName {
    cursor: pointer;
    margin-bottom: 25px;

    @include text(normal,normal,18px,22px);
    text-decoration: none;
    color: #0064EB;
  }

  .userFollow {
    white-space: nowrap;

    @include text(normal,400,16px,150%);
    color: #000000;

    .followers {
      padding-left: 32px;
      padding-right: 16px;

      background-image: url('./../../../assets/icons/shared.svg');
      background-repeat: no-repeat;
    }

    .following {
      padding-left: 25px;

      background-image: url('./../../../assets/icons/person.svg');
      background-repeat: no-repeat;
    }
  }
}