@import "./../../../common/styles/variables";
@import "./../../../common/styles/mixins";

.fetchingContainer {
  width: 100%;
  min-height: calc(100vh - 72px - 40px - 40px);
  @include flex(row, center, center);

  .fetching {
    width: 120px;
    height: 120px;
    border: 16px solid #FFF;
    border-top: 16px solid $primaryColor;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
