@import "./../../common/styles/mixins";

.container {
  height: calc(100vh - 72px);

  .mainBlock {
    padding-left: 56px;
    padding-right: 56px;
    margin-bottom: 0;
    @include flex(row, flex-start, flex-start);
    @media screen and (max-width: 400px) {
      padding: 20px 20px;
    }
    @media screen and (max-width: 1070px) {
      @include flex(column, center, center);
    }
  }
}
