.container{
  height: calc(100vh - 72px);
}
.mainBlock {
  padding-left: 56px;
  padding-right: 56px;
  margin-bottom: 0;
  display: flex;
  @media screen and (max-width: 400px){
    padding: 40px 40px;
  }
}