@import "./../../../common/styles/mixins";
@import "./../../../common/styles/variables";

.paginationContainer {
  margin-left: -40px;
  height: 24px;
  list-style: none;

  @include flex(row, center, flex-start);

  .prevBtn, .nextBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include flex(row, center, flex-start);
  }

  .nextBtn:hover > a > svg > path {
    stroke: $primaryColor;
  }

  .prevBtn:hover > a > svg > path {
    fill: $primaryColor;
  }

  .breakBtn {
    cursor: pointer;
  }

  .pageBtn {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  }

  .active {
    padding: 2px 6px;
    @include flex(row, center, center);
    @include text(normal, normal, 14px, 21px);
    color: #FFFFFF;
    background: $primaryColor;
    border-radius: 3px;
  }
}