@import "./../../../common/styles/mixins";
@import "./../../../common/styles/variables";

.repositoryBlock {
  margin-top: 40px;
  @include flex(column, flex-start, flex-start);
  flex-grow: 1;
  @media screen and (max-width: 1070px) {
    align-self: flex-start;
    width: 100%;
  }

  .title {
    @include text(normal, 600, 32px, 130%);
    color: #000000;
  }

  .paginationBlock {
    @include flex(row, flex-end,baseline);
    align-self: flex-end;
    color: $grey;

    span {
      margin-right: 16px;
    }

    @media screen and (max-width: 985px) {
      @include flex(column, center, center);
    }
  }
}

