.header {
  height: 72px;
  background-color: #0064EB;
  padding-left: 3%;
  display: flex;
  align-items: center;
  .searchInput {
    margin-left: 22px;
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    background-color: #FFF;
    background-position: 19px 13px;
    background-repeat: no-repeat;
    padding: 8px 0 8px 44px;
    background-image: url('./../../assets/icons/search.svg');
    @media screen and (max-width: 590px){
      width: 300px;
    }
    @media screen and (max-width: 380px){
      width: 200px;
    }
  }
}

