@import "./../../common/styles/variables";
@import "./../../common/styles/mixins";

.header {
  height: 72px;
  padding-left: 3%;
  background-color: $primaryColor;
  @include flex(row, flex-start, center);

  .searchInput {
    width: 500px;
    height: 40px;

    margin-left: 22px;
    padding: 8px 0 8px 44px;

    border: none;
    outline: none;
    border-radius: 6px;

    font-size: 14px;

    background-color: #FFF;
    background-position: 19px 13px;
    background-repeat: no-repeat;
    background-image: url('./../../assets/icons/search.svg');
    @media screen and (max-width: 590px) {
      width: 300px;
    }
    @media screen and (max-width: 380px) {
      width: 200px;
    }
  }
}

