@import "./../../../../common/styles/variables";
@import "./../../../../common/styles/mixins";

.repoBlock {
  width: 100%;

  padding: 24px 32px;
  margin-bottom: 24px;

  @include flex(column, flex-start, flex-start);

  background: #FFFFFF;
  border-radius: 6px;

  .description {
    margin-top: 16px;

    @include text(normal, normal, 16px, 19px);
    color: #000000;
  }

  .repoLink {
    @include text(normal, 500, 24px, 29px);
    color: #0064EB;
    @media screen and (max-width: 450px) {
      @include text(normal, 500, 20px, 23px);
    }
  }
}
