@import "./../../../common/styles/variables";
@import "./../../../common/styles/mixins";

.emptyBlock {
  width: 100%;
  min-height: calc(100vh - 72px);
  @include flex(row, center, flex-start);

  .container {
    width: 210px;
    @include flex(column, flex-start, center);
    align-self: center;
    text-align: center;

    .icon {
      width: 110px;
      height: 110px;
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
    }

    .text {
      @include text(normal, normal, 22px, 140%);
      color: $grey;
    }
  }
}